################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Personal/.vs
/Personal/Personal.App/bin/Debug/net8.0-windows
/Personal/Personal.App/obj
